<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">


        <!--logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: white; font-size: 20px; font-family: 'Times New Roman'" href="/">Home</a>
        </div>

        <!--Item-->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a  style="color: white; font-size: 20px; font-family: 'Times New Roman'" href="/application_client/" >
                        <span class="glyphicon glyphicon-user" style="color: whitesmoke; font-size:18px"></span>&nbsp;Application client
                    </a>
                </li>
                <li class="dropdown">

                    <a style="color: white; font-size: 20px; font-family: 'Times New Roman'" href="/application_transporteur/">
                        <span class="material-icons" style="color: whitesmoke; font-size:18px">directions_car</span>&nbsp;Application transporteur

                    </a>
                </li><li class="dropdown">
                    <a style="color: white; font-size: 20px;font-family: 'Times New Roman'" href="/application_simulateur/" >
                        <span class="fa fa-cog" style="color: whitesmoke; font-size:18px"></span>&nbsp;Simulateur
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a style="color: white; font-size: 20px; font-family: 'Times New Roman'" href="/mon_cv/" >
                        <span class="fa fa-graduation-cap" style="color: whitesmoke; font-size:18px"></span>&nbsp;Parcours
                    </a>
                </li>
                <li class="">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>

        </div>

    </div>
</nav>