<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <% include partials/header.ejs %>
    <div id="map"></div>
    <!--JS -->
    <!-- Loading the JS in body so that it doesn't block the loading of external CSS, images, and other assets while it’s downloading JavaScript. -->
    <!--  Load Jquery and underscore for traversing driver's list -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <!--  Loading leaflet JS file -->
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <!--   JS for locate button -->
    <script type="text/javascript" src="/js/easy-button.js"></script>
    <!--  JS for Leaflet Routing -->
    <script type="text/javascript" src="/js/leaflet-routing-machine.js"></script>
    <!--  Loading configuration file  -->
    <script type="text/javascript" src="/config/config.js"></script>
    <!--  JS for rotating the marker icon -->
    <script type="text/javascript" src="/js/Marker.Rotate.js"></script>
    <!-- JS for moving the marker icon -->
    <script type="text/javascript" src="/js/MovingMarker.js"></script>
    <!-- JS for socket connection -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Corresponding JS file of customer -->
    <script type="text/javascript" src="/js/client.js"></script>

    <button  class="btn btn-primary" style="background-color: lightslategrey; margin-left: 35%" id="button1" onclick="nearby(0)" style="width:inline" type="button" autofocus><b>Réserver un taxi</b></button>
    <button  class="btn btn-primary" style="background-color: lightslategrey" id="button2" onclick="nearby(1)" style="width:inline" type="button" autofocus><b>Réserver un service</b></button>

</body>
</html>