<html>
<head>
    <% include partials/head.ejs %>
</head>
<body >
<% include partials/header.ejs %>
<!-- Save for Web Slices (CV Fofana Abou 12 12 2016.psd) -->
<img src="/images/CV-Fofana-Abou-23-12-2016.gif" width="600" height="850" alt="" style="margin-left: 25%">
<!-- End Save for Web Slices -->
</body>
</html>