<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>

</head>
<body>
<% include partials/header.ejs %>
    <div id="map"></div>
    <!--JS -->
    <!--  Loading leaflet JS file -->
    <script type="text/javascript" src="/js/leaflet/leaflet.js"></script>
    <!--   JS for locate button -->
    <script type="text/javascript" src="/js/easy-button.js"></script>
    <!--  Loading configuration file  -->
    <script type="text/javascript" src="/config/config.js"></script>
    <!--  JS for Leaflet Routing -->
    <script type="text/javascript" src="/js/leaflet-routing-machine.js"></script>
    <!--  JS for rotating the marker icon -->
    <script type="text/javascript" src="/js/Marker.Rotate.js"></script>
    <!-- JS for moving the marker icon -->
    <script type="text/javascript" src="/js/MovingMarker.js"></script>
    <!-- JS for socket connection -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Corresponding JS file of driver -->
    <script type="text/javascript" src="/js/transporteur.js"></script>
</body>
</html>